select * from etudiants where nom = 'Dupuis'

insert into etudiants (nom, prenom, age, email)
    -> Values ('Martin', 'Dupuis', 18, 'martin.dupuis@laplateforme.io');


id	prenom	nom	age	email
5	Gertrude	Dupuis	20	gertrude.dupuis@laplateforme.io
6	Martin	Dupuis	18	martin.dupuis@laplateforme.io
