select * from etudiants where age between 18 and 25

id	prenom	nom	age	email
1	Betty	Spaghetti	23	betty.spaghetti@laplateforme.io
3	Jhon	Doe	18	jhon.doe@laplateforme.io
5	Gertrude	Dupuis	20	gertrude.dupuis@laplateforme.io
6	Martin	Dupuis	18	martin.dupuis@laplateforme.io
